.navbar-brand img{
    height: 64px;
}


.carousel-item {
    height: 100vh
}

.titulo-h1 {
    text-align: center;
    color: black;
}
    
.subtitulo-h2 {
    text-align: center;
    color: brown;
}

.h6 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 25px;
}


.pie {
    display: flex;
    background: cornflowerblue;
    justify-content: center;
    height: 100px;
    align-items: end;
}